@charset "UTF-8";
/* CSS Document - moviedetail.css */

.movie-review {
    width: 850px;
    margin: 10px auto;
    padding: 10px;
    font: 14px "微软雅黑";
    border-radius: 5px;
    display: block;
    overflow: hidden;
}

.blog-header{
    width: auto;
    height: 150px;
    margin: 10px 0 30px 0;
    padding: 0;
    text-align: center;
    border-bottom: dashed 1px;
    //background-color: yellow;
}
.blog-title {
    padding: 5px;
    text-align: center;
}
.blog-description{
    margin:auto;
    padding: 10px 30px;
    line-height: 26px;
}
.time {
	margin: 10px;
	display: inline-block;
	height: 26px;
	color: #999;
}
.time span{margin-right: 30px;}
p.tag{
    display: inline-block;
	height: 26px;
}
p.tag span:nth-child(1){
    margin-left: 40px;
    color: #333;
}
p.tag span:nth-child(2){
    margin-left: 40px;
    color: #FF1493;
}
p.tag span:nth-child(3){
    margin-left: 40px;
    color: 	#1e90ff;
}

.blog-content {
    margin: 20px 50px;
    padding: 0;
    background-color: #fff;
    font: 18px "微软雅黑";
    //border-radius: 6px;
    //box-shadow: #999 4px 5px 1px;
}

