<!doctype html>
<html lang="zh-Hans-CN">
<head>
<meta charset="UTF-8">
    <title>CC's博客-扯淡派</title>
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/chat.css" rel="stylesheet">
</head>
<body>
<header>
<div id="logo"><a href="/static/images/logo.png"></a></div>
<div class="avatar" id="avatar"><a href="/admin/"></a></div>
<nav class="topnav" id="topnav">
    <a href="/"><span>首页</span><span class="en">Home</span></a>
    <a href="/tech/"><span>技术流</span><span class="en">Tech</span></a>
    <a href="/movie/"><span>爱电影</span><span class="en">Movie</span></a>
    <a href="/book/"><span>轻悦读</span><span class="en">Book</span></a>
    <a href="/chat/"><span>扯淡派</span><span class="en">Chat</span></a>
</nav>
</header>

<!-- blog文章 -->
<article class="wrapper">
    <h1 class="introduce">杂文，娱乐为主，思考为辅</h1>
    {% block chatblog %}
        <div class="essay-list">
            {% for blog in essays %}
                <div class="arrow-box">
                    <p><a href="{% url 'chat_detail' id=blog.id %}" class="essay-title" target="_self">{{ blog.title }}</a></p>
                    <span class="dateview">{{ blog.update_time|date:'Y-m-d' }}</span>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
    <p class="totop"><a id="backtotop" href="">返回顶部</a></p>
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script>
        /* 返回顶部按钮 */
        $('#backtotop').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 600);
            return false;
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('.totop').fadeIn();
            } else {
                $('.totop').fadeOut();
            }
        });
    </script>

    <!-- 百度分享悬浮窗口 -->
    <script src="/static/js/baidushare.js"></script>
    <!-- 微信公众号二维码 -->
    <div id="QRcode"><a href="/static/images/weixinQRcode.jpg"></a><p>扫描图中二维码添加微信公众号</p></div>
</article>
<footer>
<p> CC's Blog <a href="http://www.askbaike.cc/" target="_self">陕ICPxxxxxx号-1</a>
<a href="/">网站统计</a></p>

</footer>
<!-- 导航栏文字颜色随当前url变化的功能 -->
<script type="text/javascript" src="/static/js/silder.js"></script>

</body>
</html>

